---
layout: default
---
<div>
    <small>
        Posted on {{page.date.toLocaleDateString()}}
        by Randall Dolifka
    </small>
</div>
{{ content | safe }}
<div class="grow text-center">
    <a href="#">Return to Top</a>
</div>
