---
layout: default
---
<div>
    <p>
        Posted on {{page.date.toLocaleDateString()}}
        by Randall Dolifka
    </p>
</div>
{{ content | safe }}
<div class="grow text-center">
    <a href="#">Return to Top</a>
</div>
