---
title: The Bitwise Hero
---
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - The Bitwise Hero</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
    <header style="text-align: center">
        <a href="/index.html">∼ The Bitwise Hero ∽</a>
    </header>
    <main class="container">
        {{ content | safe }}
    </main>
    <footer style="text-align: center">
        <p>
            Licensed by Randall Dolifka under
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
            unless noted otherwise. Theme is
            <a href="https://watercss.kognise.dev/">water.css</a>.
        </p>
    </footer>
</body>
</html>
