<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} | BitwiseHero</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="{{site.url}}/img/bh.png" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Begin Google Analytics -->
<script> 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48281248-1', 'bitwisehero.com');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</head>
<body>
<div id="header">
<div id="logo">
    <a href="{{site.url}}/index.html">
        <img src="{{site.url}}/img/logo.png" alt="Logo" /> BitwiseHero
    </a>
</div>
<div id="links">
<a href="https://github.com/takmo">
    <img src="{{site.url}}/img/github.png" alt="Github" />
</a>
<a href="https://twitter.com/imtakmo">
    <img src="{{site.url}}/img/twitter.png" alt="Twitter" />
</a>
</div>
</div>
<div id="content">
